//- this will be included by view/xxx.jade (viewer)

//- parameters
//- * viewFrom - a language to convert
//- * viewTo   - a language converted
//- * textFrom - a text on textarea (convert from)
//- * textTo   - a html text (convert to)
//-   Do not forget to sanitize, because against the XSS attack

form#viewFrom
  label= viewFrom
  textarea#editorFrom(class="CodeMirror" name="text" cols="60" rows="20")= textFrom
  - var convertButton = `${viewFrom} preview`
  button(type="button" class="btn")= convertButton

form#viewTo
  label= viewTo
  #textTo.markdown-body
    != textTo
